exportPattern("^[[:alpha:]]+")
import(udpipe)
import(tidytext)
import(widyr)
import(textdata)
import(RColorBrewer)
import(wordcloud)
import(rlist)
import(kableExtra)
import(ggrepel)
import(gridExtra)
import(knitr)
import(formattable)
import(circlize)
import(memery)
import(magick)
import(yarrr)
import(radarchart)
import(ggraph)
import(SparseM)
import(lava)
import(RTextTools)
import(tm)
import(slam)
import(Rmpfr)
import(grid)
import(textmineR)
import(shinyjqui)
