exportPattern("^[[:alpha:]]+")
import(udpipe)
import(dplyr)
import(mallet)
import(stopwords)
import(quanteda)
import(tidytext)
import(tidyr)
import(widyr)
import(textdata)
import(scales)
import(RColorBrewer)
import(wordcloud)
import(rlist)
import(kableExtra)
import(igraph)
import(ggplot2)
import(ggrepel)
import(gridExtra)
import(knitr)
import(formattable)
import(circlize)
import(memery)
import(magick)
import(yarrr)
import(radarchart)
import(igraph)
import(ggraph)
import(SparseM)
import(lava)
import(RTextTools)
import(tm)
import(slam)
import(topicmodels)
import(Rmpfr)
import(grid)
import(textmineR)
import(purrr)
import(maps)
import(shinyjqui)
